/* Media Query 1170px */
@media (max-width:1170px){
    /* General CSS */
    .section-subtitle{
        min-width: 60%;
    }

}

/* Media query 991px */

@media (max-width:991px){
    /* general CSS */
    .about .banner_section,
    .product .banner_section,
    .gallery .banner_section,
    .contact .banner_section{
        padding-top: 12.5rem;
        padding-bottom: 3rem;

    }

    /* 01  navbar css*/
    .header .navbar{
        background-size: cover;
        padding: 2rem;
    }
    .header .navbar-nav{
        margin-top: 2rem;
    }
    .header .navbar-nav .nav-link{
        padding: 0.2rem 0.5rem;
        margin-bottom: 1rem;
    }
    .header .header_rigth span{
        padding: 0.2rem 0.5rem;
    }
    

}

/* Media Query 767px */
@media (max-width:767px){
    /* general css */

    body,html{
        font-size: 8px;
    }

    .section-subtitle{
        min-width: 80%;
    }

    /* Banner Section */
    .banner_section{
        min-height: 70vh;
    }
    .banner-section .carousel-item{
        height: 90vh;
    }
}

/* Media Query 590p */
@media (max-width:590px){

    /* general css */
    body,html{
        font-size: 7px;
    }
}